### JetBrainsInversed.gitignore template
*
!.gitignore
!runConfigurations
!runConfigurations/*
!codeStyles
!codeStyles/*
!watcherTasks.xml
!inspectionProfiles
!inspectionProfiles/*
!dictionaries
!dictionaries/*