name: Prepare for release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Build production
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Create Release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: 'false'
          prerelease: 'false'

      - name: MSTeams Notification
        uses: skitionek/notify-microsoft-teams@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: ':rocket: *Publish new release ${{ github.ref }}*'
          channel: '#develop'
          url: ${{ secrets.MSTEAMS_WEBHOOK }}
          commit: true
          token: ${{ secrets.GITHUB_TOKEN }}