name: "Run JavaScript Action"
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'   # only run in release distribution branches

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - run: npm ci
    - run: npm test
    - uses: ./
      with:
        milliseconds: 1000
