name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm test

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./
      with:
        milliseconds: 1000
- name: 42Crunch REST API Static Security Testing
  # You may pin to the exact commit or the version.
  # uses: 42Crunch/api-security-audit-action@48f468ee3cbd6ef8e5d8307fba9177ac0f6b87b2
  uses: 42Crunch/api-security-audit-action@v1
  with:
    # The API token to access 42Crunch Platform. Please create free account at https://platform.42crunch.com/register and follow hese steps to configure API_TOKEN https://docs.42crunch.com/latest/content/tasks/integrate_github_actions.htm
    api-token: # optional
    # A name for the API collection
    collection-name: # optional, default is github
    # Minimum score for OpenAPI files.
    min-score: # optional, default is 75
    # 
    github-token: # optional, default is ${{ github.token }}
    # Upload results to Github Code Scanning
    upload-to-code-scanning: # optional, default is false
    # Do not fail the action even if the faiures were detected in the API contract
    ignore-failures: # optional, default is false
    - name: Setup .NET Core SDK
  uses: actions/setup-dotnet@v1.7.2
  with:
    # SDK version to use. Examples: 2.2.104, 3.1, 3.1.x
    dotnet-version: # optional
    # Optional package source for which to set up authentication. Will consult any existing NuGet.config in the root of the repo and provide a temporary NuGet.config using the NUGET_AUTH_TOKEN environment variable as a ClearTextPassword
    source-url: # optional
    # Optional OWNER for using packages from GitHub Package Registry organizations/users other than the current repository's owner. Only used if a GPR URL is also provided in source-url
    owner: # optional
    # Optional NuGet.config location, if your NuGet.config isn't located in the root of the repo.
    config-file: # optional- name: Codecov
  # You may pin to the exact commit or the version.
  # uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
  uses: codecov/codecov-action@v1.2.1
  with:
    # Repository upload token - get it from codecov.io. Required only for private repositories
    token: # optional
    # Comma-separated list of files to upload
    files: # optional
    # Directory to search for coverage reports.
    directory: # optional
    # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
    flags: # optional
    # Extra curl arguments to communicate with AWS.
    aws_curl_args: # optional
    # Extra curl arguments to communicate with Codecov. e.g., -U "--proxy http://http-proxy"
    codecov_curl_args: # optional
    # The commit SHA of the parent for which you are uploading coverage. If not present, the parent will be determined using the API of your repository provider.  When using the repository providers API, the parent is determined via finding the closest ancestor to the commit.
    commit_parent: # optional
    # Environment variables to tag the upload with (e.g. PYTHON | OS,PYTHON)
    env_vars: # optional
    # Specify whether or not CI build should fail if Codecov runs into an error during upload
    fail_ci_if_error: # optional
    # Path to coverage file to upload
    file: # optional
    # Comma-separated list, see the README for options and their usage
    functionalities: # optional
    # extra arguments to pass to gcov
    gcov_args: # optional
    # gcov executable to run. Defaults to gcov
    gcov_executable: # optional
    # Paths to ignore during gcov gathering (as a glob)
    gcov_path_exclude: # optional
    # Paths to include during gcov gathering (as a glob)
    gcov_path_include: # optional
    # Prefix filepaths to help resolve path fixing
    gcov_prefix: # optional
    # Project root directory, also used when preparing gcov
    gcov_root_dir: # optional
    # Move discovered coverage reports to the trash
    move_coverage_to_trash: # optional
    # User defined upload name. Visible in Codecov UI
    name: # optional
    # Specify the branch name
    override_branch: # optional
    # Specify the build number
    override_build: # optional
    # Specify the commit SHA
    override_commit: # optional
    # Specify the pull request number
    override_pr: # optional
    # Specify the git tag
    override_tag: # optional
    # Write upload file to path before uploading
    path_to_write_report: # optional
    # Used when not in git/hg project to identify project root directory
    root_dir: # optional
    # Specify whether the Codecov output should be verbose
    verbose: # optional
    # Directory in which to execute codecov.sh
    working-directory: # optional
    # Custom Derived Data Path for Coverage.profdata and gcov processing
    xcode_derived_data: # optional
    # Specify packages to build coverage. Uploader will only build these packages
    xcode_package: # optional
    - name: Codecov
  # You may pin to the exact commit or the version.
  # uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
  uses: codecov/codecov-action@v1.2.1
  with:
    # Repository upload token - get it from codecov.io. Required only for private repositories
    token: # optional
    # Comma-separated list of files to upload
    files: # optional
    # Directory to search for coverage reports.
    directory: # optional
    # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
    flags: # optional
    # Extra curl arguments to communicate with AWS.
    aws_curl_args: # optional
    # Extra curl arguments to communicate with Codecov. e.g., -U "--proxy http://http-proxy"
    codecov_curl_args: # optional
    # The commit SHA of the parent for which you are uploading coverage. If not present, the parent will be determined using the API of your repository provider.  When using the repository providers API, the parent is determined via finding the closest ancestor to the commit.
    commit_parent: # optional
    # Environment variables to tag the upload with (e.g. PYTHON | OS,PYTHON)
    env_vars: # optional
    # Specify whether or not CI build should fail if Codecov runs into an error during upload
    fail_ci_if_error: # optional
    # Path to coverage file to upload
    file: # optional
    # Comma-separated list, see the README for options and their usage
    functionalities: # optional
    # extra arguments to pass to gcov
    gcov_args: # optional
    # gcov executable to run. Defaults to gcov
    gcov_executable: # optional
    # Paths to ignore during gcov gathering (as a glob)
    gcov_path_exclude: # optional
    # Paths to include during gcov gathering (as a glob)
    gcov_path_include: # optional
    # Prefix filepaths to help resolve path fixing
    gcov_prefix: # optional
    # Project root directory, also used when preparing gcov
    gcov_root_dir: # optional
    # Move discovered coverage reports to the trash
    move_coverage_to_trash: # optional
    # User defined upload name. Visible in Codecov UI
    name: # optional
    # Specify the branch name
    override_branch: # optional
    # Specify the build number
    override_build: # optional
    # Specify the commit SHA
    override_commit: # optional
    # Specify the pull request number
    override_pr: # optional
    # Specify the git tag
    override_tag: # optional
    # Write upload file to path before uploading
    path_to_write_report: # optional
    # Used when not in git/hg project to identify project root directory
    root_dir: # optional
    # Specify whether the Codecov output should be verbose
    verbose: # optional
    # Directory in which to execute codecov.sh
    working-directory: # optional
    # Custom Derived Data Path for Coverage.profdata and gcov processing
    xcode_derived_data: # optional
    # Specify packages to build coverage. Uploader will only build these packages
    xcode_package: # optional
